.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.form-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-top: 90px;
  padding-right: 3%;
  padding-left: 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form-section-title {
  margin-bottom: 12px;
  color: #0a1f44;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

.form-content {
  width: 100%;
}

.form-content.final {
  margin-bottom: 0px;
}

.paragraph {
  max-width: 550px;
  margin-right: auto;
  margin-bottom: 4px;
  margin-left: auto;
  color: #5b617c;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
}

.error-message {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.submit-button {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 260px;
  height: auto;
  margin: 4px auto 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 5px;
  background-color: #0064fe;
  box-shadow: none;
  -webkit-transition: background-color 200ms ease-in, box-shadow 200ms ease-in;
  transition: background-color 200ms ease-in, box-shadow 200ms ease-in;
  letter-spacing: 1px;
}

.form-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 22px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-content-wrap.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-content-wrap.week-row {
  position: relative;
}

.form-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-input {
  min-height: 45px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(62, 52, 200, 0.04);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 55, 0.75);
  font-size: 16px;
}

.field-input:focus {
  border-color: #0064fe;
}

.field-input::-webkit-input-placeholder {
  font-family: 'Varela Round', sans-serif;
  color: rgba(0, 0, 55, 0.1);
}

.field-input:-ms-input-placeholder {
  font-family: 'Varela Round', sans-serif;
  color: rgba(0, 0, 55, 0.1);
}

.field-input::-ms-input-placeholder {
  font-family: 'Varela Round', sans-serif;
  color: rgba(0, 0, 55, 0.1);
}

.field-input::placeholder {
  font-family: 'Varela Round', sans-serif;
  color: rgba(0, 0, 55, 0.1);
}

.field-input.date {
  width: 50%;
  border-color: rgba(0, 0, 0, 0.15);
}

.field-input.time-unit {
  width: 40px;
  height: 60px;
  margin-bottom: 0px;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
}

.field-input.longer {
  min-height: 180px;
}

.field-input.longer::-webkit-input-placeholder {
  text-align: left;
}

.field-input.longer:-ms-input-placeholder {
  text-align: left;
}

.field-input.longer::-ms-input-placeholder {
  text-align: left;
}

.field-input.longer::placeholder {
  text-align: left;
}

.field-input.select {
  width: 50%;
}

.success-message {
  padding: 50px;
  letter-spacing: 1px;
}

.form-wrapper {
  display: block;
  margin-bottom: 0px;
  padding: 0px;
}

.body {
  font-family: Montserrat, sans-serif;
}

.legal-disclaimer {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: rgba(16, 28, 46, 0.54);
  font-size: 14px;
  text-align: center;
}

.form07_link {
  color: #0064fe;
  font-size: 13px;
  font-weight: 700;
}

.day-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 15px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.day-label {
  font-weight: 700;
}

.label-with-tooltip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #727272;
}

.weekend-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.week-button-wrap {
  position: absolute;
  left: auto;
  top: 0%;
  right: -1%;
  bottom: -8%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.add-remove-button {
  margin-bottom: 10px;
  padding: 4px 8px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0064fe), to(#0064fe));
  background-image: linear-gradient(180deg, #0064fe, #0064fe);
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
}

.add-remove-button.remove {
  margin-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d83030), to(#d83030));
  background-image: linear-gradient(180deg, #d83030, #d83030);
}

.week-info {
  position: absolute;
  left: -22%;
  top: 33%;
  right: auto;
  bottom: 0%;
  font-weight: 200;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .form-content {
    width: 90%;
  }
  .form-content-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .form-wrapper {
    width: 100%;
  }
  .label-with-tooltip {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  .form-section-title {
    font-size: 2em;
    line-height: 1.3em;
  }
  .form-content {
    width: 100%;
  }
  .submit-button {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: -85px;
  }
  .form-content-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@font-face {
  font-family: 'Sfprodisplay';
  src: url('../fonts/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Sfprodisplay';
  src: url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Sfprodisplay';
  src: url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Sfprodisplay';
  src: url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}